#warning{
    text-align: left;
}

#equal{
    display:none;
    color:blue;
}

#no_equal{
    display:none;
    color:red;
}
#badpw, #normalpw, #goodpw{
    display:none;
}
#badpwoption{
    display:none;
    color:red;
}
#normalpwoption{
    display:none;
    color:orange;
}
#goodpwoption{
    display:none;
    color:blue;
}