body {
    padding: 20px;
    background-color: white;
    font-family: "Noto Sans KR", Helvetica, sans-serif;
  }
img {
    border:3px solid gold;
    border-radius: 7px;
    width:400px; height:500px;
}
p{
    text-align:center;
}
text{
    color:#0660c0;
}
#icon{
    width:50%;
    height:50%;
    color:white;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
li { float: left; }
li a {
    display: block;
    padding: 8px;
    text-align: center;
    color:#d6eaff;
    font-weight: bold;
    font-size: 150%;
}
.container-fulid {
    display: flex;
    flex-direction: row;
    margin: 4px;
}
.item-fulid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.item{
    font-weight:bold;
    font-size: 100%;
    margin:20px;
}
.cover {
    display: flex;
    justify-content: space-between;
}
#title{
    text-align: center;
    color: #d6eaff;
    width:10%;
    font-size: 150%;
}
#nav{
    width:40%;
} 
#writebtn{
    width:10%;
    font-size: 40px;
}
#manage{
    color:#469efc;
}
#write_type{
border-bottom-color:tomato;
border-bottom-style:outset;
border-width:1px 1px 3px 1px;
margin: 4px 4px 20px 4px;
}
#firstcontainer{
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
}
#writebottom_type{
    border-bottom-color: blue;
    border-bottom-style:dotted;
    border-width:1px 1px 3px 1px;
    margin: 4px 4px 20px 4px;
}

