body {
    padding: 20px;
    text-align: center;
    color:#999;
    background-color: white;
  }
img {
    border:3px solid gold;
    border-radius: 7px;
    width:400px; height:500px;
}
p{
    text-align:center;
}
h1{ 
    font-family: 'Oswald', sans-serif; 
    font-size: 30px; 
    color: #216182; 
} 
h2{ 
    font-family: 'Oswald', sans-serif; 
    font-size: 15px; 
    color: #216182; 
}
text, #groupName{
    color:#0660c0;
}
input, textarea { 
    width: 439px; 
    height: 27px; 
    background-color: #efefef; 
    border-radius: 6px; 
    border: 1px solid #dedede; 
    padding: 10px; 
    margin-top: 3px; 
    font-size: 0.9em; 
    color: #3a3a3a; 
} 
#icon{
    width:50%;
    height:50%;
    color:white;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
li { float: left; }
li a {
    display: block;
    padding: 8px;
    text-align: center;
    color:#d6eaff;
    font-weight: bold;
    font-size: 150%;
}
.container-fulid {
    display: flex;
    flex-direction: row;
    margin: 4px;
}
.item-fulid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.item{
    font-weight:bold;
    font-size: 100%;
    margin:20px;
}
.cover {
    display: flex;
    justify-content: space-between;
}
#title{
    text-align: center;
    color: #d6eaff;
    width:10%;
    font-size: 150%;
}
#nav{
    width:40%;
} 
#writebtn{
    width:10%;
    font-size: 40px;
}
#manage{
    color:#469efc;
}
#write_type{
    border-bottom-color:tomato;
    border-bottom-style:outset;
    border-width:1px 1px 3px 1px;
    margin: 4px 4px 20px 4px;
}
#firstcontainer{
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
}
#writebottom_type{
    border-bottom-color: blue;
    border-bottom-style:dotted;
    border-width:1px 1px 3px 1px;
    margin: 4px 4px 20px 4px;
}
#my_modal {
    display: none;
    left: 0; top: 0; width: 50%; height: 60%;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}
#my_modal{
    position: absolute;
    top: 10px;
    right: 10px;
}
#submit{ 
    width: 127px; 
    height: 48px; 
    text-align: center; 
    border: none; 
    margin-top: 20px; 
    cursor: pointer; 
}
#submit:hover{ 
    color: #fff; 
    background-color: #216282; 
    opacity: 0.9; 
}